<div class="d-flex justify-content-around corDoHeader">
    <div class="d-flex align-items-center">
        <a routerLink="/">
            <!-- <img id="tamanhoLogo" src="../assets/img/vox.png" alt="LogoVoxTecnologia"> -->
        </a>
    </div>
    <div class="d-flex align-items-center">
        <p id="corDoTexto">Pedidos de Abertura da empresa</p>
    </div>
    <div class="d-flex align-items-center">
        <a routerLink="/empresa" class="btn btn-primary">Solicitar Abertura</a>
    </div>
</div>